{% extends 'base.html.twig' %}
{% block container %}
<center>
<h1> Solidarity and Refugee</h1>
<img src="{{ asset('front/images/refugee.jpg') }}"  width="650">
    <br>
    <br>
    <br>
</center>

{% endblock %}