{% extends('base.html.twig') %}

  {% block container %}
      <div class="container">
          {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
      </div>
      <script></script>

  {% endblock %}