{% extends 'base.html.twig' %}

{% block container %}
    <center>
        <h1 class="alert alert-warning"> We are sorry , but the quantity assigned</h1>
        <h1 class="alert alert-warning">must be lesser or equal to the needs of the camp </h1>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <ul>
            <li>
                <a class="btn btn-primary btn-lg btn-block" href="{{ path('besoins_index') }}">Afficher la liste des besoins</a>
            </li>
            <br>
            <br>
            <br>
            <br>
            <li>
                <a class="btn btn-default btn-lg btn-block" href="{{ path('affectation_new') }}">Ajouter une nouvelle affectation</a>

            </li>
        </ul>

    </center>
{% endblock %}
